/* Will be compiled down to a single stylesheet with your sass files */
body{
	border: 1px solid #ccc;
	width: 640px;
	font-family: Arial;
	font-size: 10px;
	color: #c0c0c0;
}

input{
	font-size: 10px;
	border: 1px solid #ccc;
}

button{
	border: 0px;
	background: none;
	color: #0066ff;
}